/* Style pour la HBox */
.hBox_main {
    -fx-spacing: 10px; /* Espace entre les éléments */
}

/* Style pour chaque élément dans la HBox */
.hBox_main > * {
    -fx-border-color: black; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-padding: 5px; /* Espace à l'intérieur de chaque élément */
}
