

/* afficher code promo*/
/* Styles pour l'AnchorPane */
.root {
    -fx-background-color: #DFDEDE;
}

/* Styles pour le Label */
#labelFX {
    -fx-text-fill: #d0784f;
    -fx-font: bold italic 27px System;
}

/* Styles pour les boutons */
.button {
    -fx-background-color: #999999;
    -fx-text-fill: white;
}

/* Styles spécifiques au ListView */
.list-view {
    -fx-background-color: #FFFFFF; /* Couleur de fond */
}

.list-cell {
    /* Styles pour chaque cellule de la ListView */
    -fx-text-fill: #333333; /* Couleur du texte */
    -fx-font-size: 13px; /* Taille de la police */
    -fx-padding: 7px; /* Espacement à l'intérieur de la cellule */
}

.list-view:focused .list-cell:focused {
    /* Styles pour la cellule sélectionnée lorsque la ListView est au focus */
    -fx-background-color: #CCCCCC; /* Couleur de fond */
}

/*afficher commande*/
/* Style général de la page */
.root {
    -fx-background-color: #f5f5f5; /* Couleur de fond */
}

/* Style du conteneur principal */
#EMPHBox {
    -fx-spacing: 20px; /* Espacement entre les enfants de l'HBox */
}

/* Style de la barre de recherche */
#searchBarEvents {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
    -fx-border-color: #007bff; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-padding: 8px; /* Espacement intérieur */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}

/* Style des libellés */
Label {
    -fx-font-family: "Arial", sans-serif; /* Police de caractères */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}

/* Style des champs de texte */
TextField {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
    -fx-padding: 5px; /* Espacement intérieur */
}

/* Style des boutons */
Button {
    -fx-background-color: #4caf50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-border-radius: 5px; /* Rayon des coins */
}

/* Style de la zone de défilement */
ScrollPane {
    -fx-background-color: transparent; /* Couleur de fond */
}
#commandes {
    -fx-fill: #d0784f; /* Couleur du texte */
    -fx-font-family: "System Bold Italic"; /* Police */
    -fx-font-size: 23px; /* Taille de la police */
}

/* Style du Text avec l'identifiant 'modifier-commande' */
#modifier{
    -fx-fill: #d0784f; /* Couleur du texte */
    -fx-font-family: "System Bold Italic"; /* Police */
    -fx-font-size: 23px; /* Taille de la police */
}

/*afficher commandeUser*/
/* styles.css */
/* styles.css */

/* Style de l'AnchorPane principal */
#mainAnchorPane {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

/* Style du Label avec l'identifiant 'label' */
#label {
    -fx-font-size: 20px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

/* Style du ListView avec l'identifiant 'listView' */
#listView {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #dedede; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
}

/* Style des Button avec l'identifiant 'retourBTN' */
#retourBTN {
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style des Button avec l'identifiant 'annulerBTN' */
#annulerBTN {
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style des Button lorsque survolés avec l'identifiant 'retourBTN' */
#retourBTN:hover {
    -fx-background-color: #868686; /* Couleur de fond */
}


/* Style des Button lorsque survolés avec l'identifiant 'annulerBTN' */
#annulerBTN:hover {
    -fx-background-color: #868686; /* Couleur de fond */
}

/*Afficher livraison*/
#mainAnchorPane {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

/* Style du ListView avec l'identifiant 'listView' */
#listView {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
}

/* Style du Label avec l'identifiant 'labelFX' */
#labelFX {
    -fx-font-size: 22px; /* Taille de la police */
    -fx-font-family: "System Bold Italic"; /* Police */
    -fx-text-fill: #764949; /* Couleur du texte */
}

/* Style des Buttons avec l'identifiant 'updateBTN' et 'suppBTN' */
#updateBTN, #suppBTN {
    -fx-background-color: #2F5AE9; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 16px; /* Taille de la police */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style du Button 'retourBTN' */
#retourBTN {
    -fx-background-color: #999999; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style du ComboBox avec l'identifiant 'comboboxId' */
#comboboxId {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
}
/*afficher livraisonUser*/
/* Style de l'AnchorPane principal */
#mainAnchorPane {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

/* Style du Label avec l'identifiant 'label' */
#label {
    -fx-font-size: 20px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

/* Style du ListView avec l'identifiant 'listView' */
#listView {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 5px; /* Rayon des coins de la bordure */
}

/* Style des Buttons avec les identifiants 'retourBTN' et 'annulerBTN' */
#retourBTN, #annulerBTN {
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: #ffffff; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style des Buttons lorsque survolés */
#retourBTN:hover, #annulerBTN:hover {
    -fx-background-color: #868686; /* Couleur de fond */
}

/*ajouter code promo*/
/* styles.css */

/* Style de l'AnchorPane principal */
#mainAnchorPane {
    -fx-background-color: #f5f5f5; /* Couleur de fond */
}

/* Style du Label avec l'identifiant 'label' */
#label {
    -fx-font-size: 24px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}

/* Style des TextField avec les identifiants 'codepromoTF' et 'pourcentageTF' */
#codepromoTF, #pourcentageTF {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-prompt-text-fill: #999999; /* Couleur du texte d'invite */
    -fx-padding: 5px; /* Espacement intérieur */
}

/* Style des Buttons avec les identifiants 'ajouterBTN' et 'retourBTN' */
#ajouterBTN, #retourBTN {
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 16px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style des Buttons lorsque survolés */
#ajouterBTN:hover, #retourBTN:hover {
    -fx-background-color: #868686; /* Couleur de fond au survol */
}

/*ajouter commande*/
/* styles.css */

/* Style de l'AnchorPane principal */
#mainAnchorPane {
    -fx-background-color: #f0f0f0; /* Couleur de fond */
}

/* Style du Label avec l'identifiant 'ajouter_commandes' */
#ajouter_commandes {
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

/* Style des TextField avec les identifiants 'code_promoTF', 'id_userTF' et 'statusTF' */
#code_promoTF, #id_userTF, #statusTF {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-prompt-text-fill: #999999; /* Couleur du texte d'invite */
}

/* Style des Buttons avec les identifiants 'continuerBTN', 'PasserLiv' et 'retourBTN' */
#continuerBTN{
    -fx-background-color: #bb6060; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 13px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/* Style des Buttons lorsque survolés */
#continuerBTN:hover{
    -fx-background-color: #a45454; /* Couleur de fond */
}
#retourBTN{
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}


/* Style du ComboBox avec l'identifiant 'idCombobox' */
#idCombobox {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
}

/* Style du Pane avec le styleClass 'cadre' */
.cadre {
    -fx-background-color: #f9f9f9; /* Couleur de fond */
    -fx-border-color: #dcdcdc; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-border-radius: 8px; /* Rayon des coins de la bordure */
    -fx-padding: 10px; /* Espacement intérieur */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 0); /* Ombre portée */
}

/* Style des Text avec les identifiants 'MTtext1', 'MTtext2', 'MTtext3' */
#MTtext1, #MTtext2, #MTtext3 {
    -fx-fill: #555555; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
}

/* Style des Labels avec les identifiants 'prixProduitLabel', 'fraisLivLabel', 'MTtotalLabel' et 'RemiseLabel' */
#prixProduitLabel, #fraisLivLabel, #MTtotalLabel, #RemiseLabel {
    -fx-font-size: 13px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}
#appliquerID{
    -fx-background-color: #5274f5; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 13px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}

/*ajouter livraison*/
/* styles.css */

/* Style du Label avec l'identifiant 'ajouterL' */
#ajouterL {
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

/* Style des TextField avec les identifiants 'id_cmdTF', 'adresseTF', 'id_userTF', 'statusTF', 'fraisTF', 'moyenLivTF' */
#id_cmdTF, #adresseTF, #id_userTF, #statusTF, #fraisTF, #moyenLivTF {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-prompt-text-fill: #999999; /* Couleur du texte d'invite */
}

/* Style des Buttons avec les identifiants 'AjouterLivraison', 'afficherBTN', 'retourBTN' */
#AjouterLivraison, #afficherBTN, #retourBTN {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 11px; /* Taille de la police */
    -fx-padding: 10px 20px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins */
}

/* Style des Buttons lorsque survolés */
#AjouterLivraison:hover, #afficherBTN:hover, #retourBTN:hover {
    -fx-background-color: #45a049; /* Couleur de fond */
}

/* Style des Buttons lorsque pressés */
#AjouterLivraison:pressed, #afficherBTN:pressed, #retourBTN:pressed {
    -fx-background-color: #3e8e41; /* Couleur de fond */
}

/* Style des RadioButtons avec les identifiants 'RB1' et 'RB2' */
#RB1, #RB2 {
    -fx-font-size: 14px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}

/*modifier commande*/
/* styles.css */

/* Style du Label avec l'identifiant 'modifier_commandes' */
#modifier_commandes {
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

/* Style des TextField avec les identifiants 'mt_totalTF', 'code_promoTF', 'id_userTF', 'id_cmdTF', 'statusTF' */
#mt_totalTF, #code_promoTF, #id_userTF, #id_cmdTF, #statusTF {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-prompt-text-fill: #999999; /* Couleur du texte d'invite */
}

/* Style du Text avec l'identifiant 'Avez-vous un code promo?' */
#Avez-vous_un_code_promo {
    -fx-font-size: 14px; /* Taille de la police */
    -fx-fill: #0000005c; /* Couleur du texte */
}

/* Style du ComboBox avec l'identifiant 'idCombobox' */
#idCombobox {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
}

/* Style des Buttons avec les identifiants 'modifierBTN', 'retourBTN' */
#modifierBTN, #retourBTN {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 10px 20px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins */
}

/* Style des Buttons lorsque survolés */
#modifierBTN:hover, #retourBTN:hover {
    -fx-background-color: #45a049; /* Couleur de fond */
}

/* Style des Buttons lorsque pressés */
#modifierBTN:pressed, #retourBTN:pressed {
    -fx-background-color: #3e8e41; /* Couleur de fond */
}
#retourBTN{
    -fx-background-color: #ababab; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-padding: 8px 16px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
}
/*modifier livraison*/
/* Style du Label avec l'identifiant 'modifierL' */
#modifierL {
    -fx-font-size: 18px; /* Taille de la police */
    -fx-font-weight: bold; /* Poids de la police */
    -fx-text-fill: #d0784f; /* Couleur du texte */
}

#id_cmdTF, #adresseTF, #id_userTF, #statusTF, #fraisTF, #moyenLivTF, #idLivTF {
    -fx-background-color: #f2f2f2; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon des coins de la bordure */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-prompt-text-fill: #999999; /* Couleur du texte d'invite */
}

/* Style des RadioButton avec les identifiants 'RB1', 'RB2' */
#RB1, #RB2 {
    -fx-font-size: 14px; /* Taille de la police */
    -fx-text-fill: #333333; /* Couleur du texte */
}

/* Style du Button avec l'identifiant 'ModifierLivraison' */
#ModifierLivraison {
    -fx-background-color: #4CAF50; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
    -fx-padding: 10px 20px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins */
}

/* Style du Button lorsque survolé */
#ModifierLivraison:hover {
    -fx-background-color: #45a049; /* Couleur de fond */
}

/* Style du Button lorsque pressé */
#ModifierLivraison:pressed {
    -fx-background-color: #3e8e41; /* Couleur de fond */
}

/* Style du Button avec l'identifiant 'retourBTN' */
#retourBTN {
    -fx-background-color: #999999; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 12px; /* Taille de la police */
    -fx-padding: 10px 20px; /* Remplissage */
    -fx-background-radius: 4px; /* Rayon des coins */
    -fx-border-radius: 4px; /* Rayon des coins */
}

/* Style du Button lorsque survolé */
#retourBTN:hover {
    -fx-background-color: #8c8c8c; /* Couleur de fond */
}

/* Style du Button lorsque pressé */
#retourBTN:pressed {
    -fx-background-color: #737373; /* Couleur de fond */
}

