#sidebar {
    -fx-background-color: #333;
    -fx-padding: 10;
}

#sidebar Button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-width: 0;
    -fx-font-size: 14px;
}

#sidebar Button:hover {
    -fx-background-color: #555;
}
